@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  .cadastro-de-produtos-container {
    padding-top: 10vh;
    flex-direction: row-reverse;
  }
  .adicionar-produtos,
  .mostrar-produtos {
    height: 60vh;
    margin: 2%;
    padding: 5px;
    width: 100%;
  }
  .produtos-item {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    flex-direction: row;
  }
  .produtos-item {
    width: 40%;
  }
  .produtos-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .imagem-do-produto {
    height: 200px;
    overflow: hidden;
  }
  .form-control input {
    max-width: 90%;
  }
}
/* Para celulares médios na horizontal */
@media (max-width: 768px) and (orientation: landscape) {
  footer {
    height: 100%;
  }
}

/* Para tablets na horizontal e desktops */
@media (min-width: 768px) and (max-height: 450px) and (orientation: landscape) {
  .adicionar-produtos, .mostrar-produtos{
    height: 400px;
  }
  footer {
    margin-top: 10%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-height: 345px) and (orientation: landscape) {
  footer {
    margin-top: 20%;
  }
}